* {
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

#parent {
 border: 2px solid black;
 height: 900px;
 width: 850px; 
 position: relative;
}

div {
    border: 2px solid seagreen;
    height: 200px;
    width: 100px; 
    margin: 2px;
   }

 #id-1 { 
 background: slateblue;
 position: absolute;
 left: 25%;  
 top: 25%;
}

#id-2 { 
background: pink;
position: absolute; 
top: 25%;
right: 35%;
left: 500px;

}

#id-3 { 
background:coral;
position: absolute; 
right:35%; 
bottom:25%;
}

#id-4 { 
background:blue;
position: absolute; 
left:25%; 
bottom:25%; 
}